.App {
  text-align: center;
}

.card{
  width:370px;
  height:250px;
  margin: 10px;
  display: flex;
  background-color: rgb(153, 246, 127);
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  word-wrap: break-word;

}
.cardlist{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 12%;
  margin-top: 2%;
}
.card:hover{
  background-color: #61dafb;
  transition: 0.2s ease-in;
  transform: scale(1.06);
}
.search{
  width: 500px;
  height: 20px;
}

.btn{
  background-color: rgb(247, 69, 10);
  width: 60px;
  height: 25px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(153, 246, 127);
  transition: 0.2s ease-in;
  transform: scale(1.06);

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
